.header{
    width: 1195px;
    height: 350px;
    background-image: url(../img/Three\ phases\ of\ malware\ defense.jpg);
    background-size: 1197px 370px;
    background-repeat: no-repeat;
    background-position: center;
}
.header_backround{
    width: 1195px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.362);
    width: 100%;
    height: 350px;
}
.navigation{
    width: 850px;
    border-radius: 30px;
    padding: 0px 10px;
    display: flex;
    height: 50px;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(255, 251, 243);
    margin-top: 20px;
    box-shadow: 1px 1px 20px rgba(255, 255, 255, 0.778);
}
.header_ul{
    display: flex;
    list-style: none;
    font-weight: 700;
    gap: 30px;
}
.header_ul_li{
    transition: all ease-in-out 0.3s;
}
.header_ul_li:hover{
    color: #FF6B48;
}
.my_projects{
    width: 110px;
    height: 35px;
    border-radius: 20px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FF6B48;
    color: white;
    transition: all ease-in-out 0.4s;
}
.my_projects:hover{
    background-color: #ff4f27;
    border-radius: 5px;
}
.bstr{
    color: white;
}
.left1{
    margin-right: 5px;
}
.header_title{
    font-weight: 600;
    color: #ff3700;

}
.about{
    margin-top: 100px;
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.about_span{
    display: flex;
    gap: 10px;
    padding: 3px 9px;
    border-radius: 7px;
    border: #ff6d4500 2px solid;
    transition: all ease-in-out 0.5s;
}
.str{
    color: #FF6E45;
}
.header_about_title{
    font-size: 40px;
    font-weight: 500;
}
.about_span:hover{
    background-color:rgba(0, 0, 0, 0.497);
    border: #ff6d456b 2px solid;
}

@media(max-width:390px){
    .header{
    width: 445px;
    height: 250px;
    background-image: url(../img/Three\ phases\ of\ malware\ defense.jpg);
    background-size: 1197px 370px;
    background-repeat: no-repeat;
    background-position: center;
}
.header_backround{
    width: 445px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.362);
    width: 100%;
    height: 350px;
}
.navigation{
    width: 850px;
    border-radius: 30px;
    padding: 0px 10px;
    display: none;
    height: 50px;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(255, 251, 243);
    margin-top: 20px;
    box-shadow: 1px 1px 20px rgba(255, 255, 255, 0.778);
}
.header_ul{
    display: flex;
    list-style: none;
    font-weight: 700;
    gap: 30px;
}
.header_ul_li{
    transition: all ease-in-out 0.3s;
}
.header_ul_li:hover{
    color: #FF6B48;
}
.my_projects{
    width: 110px;
    height: 35px;
    border-radius: 20px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FF6B48;
    color: white;
    transition: all ease-in-out 0.4s;
}
.my_projects:hover{
    background-color: #ff4f27;
    border-radius: 5px;
}
.bstr{
    color: white;
}
.left1{
    margin-right: 5px;
}
.header_title{
    font-weight: 600;
    color: #ff3700;

}
.about{
    margin-top: 100px;
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.about_span{
    display: flex;
    gap: 10px;
    padding: 3px 9px;
    border-radius: 7px;
    border: #ff6d4500 2px solid;
    transition: all ease-in-out 0.5s;
}
.str{
    color: #FF6E45;
}
.header_about_title{
    font-size: 40px;
    font-weight: 500;
}
.about_span:hover{
    background-color:rgba(0, 0, 0, 0.497);
    border: #ff6d456b 2px solid;
}
}